<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/piano.css">
    <title>JS Checker - Piano task</title>
  </head>
  <body>
  	<div class="container" id="app" v-cloak 
      style='[v-cloak] > * { display:none }[v-cloak]::before { content: "loading…" }'>
      <h1 class="mt-3">JS Checker. <span v-html="courseName"></span>. <span v-html="taskName"></span></h1>
      <hr>
      <div class="row">
        <div class="col">
          <h6>Task Description</h6>
          <span class="font-italic" v-html="taskDescription"></span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Input format</h6>
          <span class="font-italic" v-html="inputFormat"></span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6>Test Case</h6>
          <span class="font-italic" v-html="testExample"></span>
          <hr>
        </div>
      </div>
  		<div class="row">
  			<div class="col">
          <h6>Solution, finish this function</h6>
          <span class="text-monospace" v-html="prefix()"></span>
          <textarea class="text-monospace form-control w-100" v-model="solution" rows=15>
          </textarea>
          <span class="text-monospace" v-html="postfix()"></span>
          <br>
          <button class="btn btn-default" @click="run" v-if="!alreadyRun"
          >Play</button>
          <button class="btn btn-danger" @click="onRunStopped" v-else="alreadyRun"
          >Stop</button>
          <button class="btn btn-success" @click="test"
          >Test</button>
          <button class="btn btn-primary" @click="submit">Submit</button>
          <hr>
        </div>
  	</div>  	
  <section id="wrap">
    <!--<header>
      <h1>JS Piano</h1>
      <h2>Use your keyboard. Hover for hints.</h2>
    </header>-->
    <section id="main">
      <div class="nowplaying text-center"></div>
      <div class="keys">
        <div data-key="65" class="key" data-note="C">
            <span class="hints text-center">A</span>
        </div>
        <div data-key="87" class="key sharp" data-note="C#">
            <span class="hints text-center">W</span>
        </div>
        <div data-key="83" class="key" data-note="D">
            <span class="hints text-center">S</span>
        </div>
        <div data-key="69" class="key sharp" data-note="D#">
            <span class="hints text-center">E</span>
        </div>
        <div data-key="68" class="key" data-note="E">
            <span class="hints text-center">D</span>
        </div>
        <div data-key="70" class="key" data-note="F">
            <span class="hints text-center">F</span>
        </div>
        <div data-key="84" class="key sharp" data-note="F#">
            <span class="hints text-center">T</span>
        </div>
        <div data-key="71" class="key" data-note="G">
            <span class="hints text-center">G</span>
        </div>
        <div data-key="89" class="key sharp" data-note="G#">
            <span class="hints text-center">Y</span>
        </div>
        <div data-key="72" class="key" data-note="A">
            <span class="hints text-center">H</span>
        </div>
        <div data-key="85" class="key sharp" data-note="A#">
            <span class="hints text-center">U</span>
        </div>
        <div data-key="74" class="key" data-note="B">
            <span class="hints text-center">J</span>
        </div>
        <div data-key="75" class="key" data-note="C">
            <span class="hints text-center">K</span>
        </div>
        <div data-key="79" class="key sharp" data-note="C#">
            <span class="hints text-center">O</span>
        </div>
        <div data-key="76" class="key" data-note="D">
            <span class="hints text-center">L</span>
        </div>
        <div data-key="80" class="key sharp" data-note="D#">
            <span class="hints text-center">P</span>
        </div>
        <div data-key="186" class="key" data-note="E">
            <span class="hints text-center">;</span>
        </div>
      </div>

      <audio preload=none data-key="65" src="http://carolinegabriel.com/demo/js-keyboard/sounds/040.wav"></audio>
      <audio preload=none data-key="87" src="http://carolinegabriel.com/demo/js-keyboard/sounds/041.wav"></audio>
      <audio preload=none data-key="83" src="http://carolinegabriel.com/demo/js-keyboard/sounds/042.wav"></audio>
      <audio preload=none data-key="69" src="http://carolinegabriel.com/demo/js-keyboard/sounds/043.wav"></audio>
      <audio preload=none data-key="68" src="http://carolinegabriel.com/demo/js-keyboard/sounds/044.wav"></audio>
      <audio preload=none data-key="70" src="http://carolinegabriel.com/demo/js-keyboard/sounds/045.wav"></audio>
      <audio preload=none data-key="84" src="http://carolinegabriel.com/demo/js-keyboard/sounds/046.wav"></audio>
      <audio preload=none data-key="71" src="http://carolinegabriel.com/demo/js-keyboard/sounds/047.wav"></audio>
      <audio preload=none data-key="89" src="http://carolinegabriel.com/demo/js-keyboard/sounds/048.wav"></audio>
      <audio preload=none data-key="72" src="http://carolinegabriel.com/demo/js-keyboard/sounds/049.wav"></audio>
      <audio preload=none data-key="85" src="http://carolinegabriel.com/demo/js-keyboard/sounds/050.wav"></audio>
      <audio preload=none data-key="74" src="http://carolinegabriel.com/demo/js-keyboard/sounds/051.wav"></audio>
      <audio preload=none data-key="75" src="http://carolinegabriel.com/demo/js-keyboard/sounds/052.wav"></audio>
      <audio preload=none data-key="79" src="http://carolinegabriel.com/demo/js-keyboard/sounds/053.wav"></audio>
      <audio preload=none data-key="76" src="http://carolinegabriel.com/demo/js-keyboard/sounds/054.wav"></audio>
      <audio preload=none data-key="80" src="http://carolinegabriel.com/demo/js-keyboard/sounds/055.wav"></audio>
      <audio preload=none data-key="186" src="http://carolinegabriel.com/demo/js-keyboard/sounds/056.wav"></audio>
      </section>
  </section>
  <br>
  <div class="row" v-if="tested == true">
        <div class="col">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <tr>
                <th>
                  Case #
                </th>
                <td v-for="(cas, index) in testCases.cases" v-if="cas.beforeSubmit==true">
                  {{index+1}}
                </td>
              </tr>
              <tr>
                <th>
                  Input
                </th>
                <td v-for="(cas, index) in testCases.cases" v-if="cas.beforeSubmit==true">
                  {{cas.input.value}}
                </td>
              </tr>
              <tr>
                <th>
                  Result
                </th>
                <td v-for="(res, index) in results" v-if="results.length>0">
                  {{res}} <br>
                </td>
              </tr>
              <tr v-if='solution.includes("window.log(")'>
                <th>
                  Additional logs
                </th>
                <td v-for="(cas, index) in testCases.cases" v-if="cas.beforeSubmit==true">
                  <span v-if="cas.logs.length>0">
                    Additional logs: <br>
                    <p v-for="log in cas.logs">{{log}}</p>
                  </span>
                </td>
              </tr>
            </table>
          </div>  
        </div>
      </div>
  	</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="js/main-piano.js"></script>
  </body>
</html>